<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Conference Paper Management System Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
  </head>
  <body>
    <h1>The Conference Paper Management System</h1>
    <div class="center">
      <h1>Get Password</h1>
      <h2>{{msg}}</h2>
      <form class="form-group" action="{{ url_for('retrieve') }}" method="post">
        <label>Enter Email</label>
        <input type="text" class="form-control" name="email" placeholder="Email" id="email" required>
        <label>Zip Code</label>
        <input type="text" class="form-control" name="zipcode" placeholder="zip" id="zipcode" required>
        <input type="submit" value="Retrieve" class="form-control btn btn-success " name="">
        <a href="/login" class="nav-link">Login</a></li>

       </form>
    </div>

  </body>
</html>