<!doctype html>
<html lang="en">
  <head>
      <link rel="stylesheet" href="{{ url_for('static', filename= 'css/base.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <nav class="navbar navbar-expand-lg py-3 navbar-dark bg-dark shadow-sm">
  <div class="container">
    <a href="#" class="navbar-brand">
      <!-- Logo Image -->
      <img src="https://cdn4.vectorstock.com/i/1000x1000/44/43/stack-paper-icon-logo-stationery-stacked-vector-26674443.jpg" width="45" alt="" class="d-inline-block align-middle mr-2">
      <!-- Logo Text -->
      <span class="text-uppercase font-weight-bold">CPMS</span>
    </a>

    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a href="/welcome" class="nav-link">Home </a></li>
        <li class="nav-item"><a href="/authoraccount" class="nav-link">Account</a></li>
        <li class="nav-item"><a href="/reports" class="nav-link">Reports</a></li>
        <li class="nav-item"><a href="/scorebreakdown" class="nav-link">Score Breakdown</a></li>
        <li class="nav-item"><a href="/uploadpaper" class="nav-link">Upload Paper</a></li>
      </ul>
    </div>
  </div>
</nav>
  <body>
    <center><h3>"Education is the most powerful weapon which you can use to change the world" - Nelson Mandela</h3></center>
    <figure>
    <img src="https://img.pagecloud.com/1ZZza5lD_m5h-5DgnSbX6RkO6Ig=/471x0/filters:no_upscale()/nicoles-website-9023/images/image-g7c54.jpeg" height="600" width="500" alt="not here" class="center">
    <center><figcaption> Picture from recent african americans in STEM conference in Chigaco, Illinois</figcaption></center>
    </figure>
  </body>


</html>