<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Conference Paper Management System Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
  </head>
  <body>
    <h1>The Conference Paper Management System</h1>
    <div class="center">
      <h1>Registration</h1>
      <form method="post">
        <div class="txt_field">
          <input type="text" required>
          <span></span>
          <label>First Name</label>
        </div>

        <div class="txt_field">
          <input type="password" required>
          <span></span>
          <label>Last Name</label>
        </div>

        
        <div class="txt_field">
            <input type="password" required>
            <span></span>
            <label>Address</label>
          </div>

        <div class="txt_field">
            <input type="password" required>
            <span></span>
            <label>Phone Number</label>
          </div>

        <div class="txt_field">
            <input type="password" required>
            <span></span>
            <label>Email</label>
          </div>
        
        <div class="txt_field">
            <input type="password" required>
            <span></span>
            <label>Affiliation</label>
        </div>

      

        <div class="txt_field">
            <input type="password" required>
            <span></span>
            <label>Department</label>
            </div>

        <div class="txt_field">
            <input type="password" required>
            <span></span>
            <label>Password</label>
            </div>
        
        <div class="txt_field">
            <input type="password" required>
            <span></span>
            <label>Confirm Password</label>
            </div>
            <input type="submit" value="Submit">


            </div>
          </div>
        </div>
      </form>
    </div>

  </body>
</html>