<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Conference Paper Management System Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
  </head>
  <body>
    <h1>The Conference Paper Management System</h1>
    <div class="center">
      <h1>Registration</h1>
      <form action="{{ url_for('register') }}" method="post" autocomplete="off"> 
        <div class="form-group">
         <label for="fname" class="cols-sm-2 control-label">First Name</label>
         <div class="cols-sm-10">
          <div class="input-group">
           <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
           <input type="text" class="form-control" name="firstname" id="firstname"  placeholder="Enter your First Name"/>
          </div>
         </div>
        </div>

        <div class="form-group">
          <label for="MI" class="cols-sm-2 control-label">Middle Initial</label>
          <div class="cols-sm-10">
           <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="middleinit" id="middleinit"  placeholder="Enter your Middle Initial"/>
           </div>
          </div>
         </div>

        <div class="form-group">
         <label for="lastname" class="cols-sm-2 control-label">Last Name</label>
         <div class="cols-sm-10">
          <div class="input-group">
           <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
           <input type="text" class="form-control" name="lname" id="lname"  placeholder="Enter your Last Name"/>
          </div>
         </div>
        </div>
   
        <div class="form-group">
         <label for="affiliation" class="cols-sm-2 control-label">Affiliation</label>
         <div class="cols-sm-10">
          <div class="input-group">
           <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
           <input type="text" class="form-control" name="affil" id="affil" placeholder="Enter your Affiliation" required>
          </div>
         </div>
        </div>
   
        <div class="form-group">
         <label for="department" class="cols-sm-2 control-label">Department</label>
         <div class="cols-sm-10">
          <div class="input-group">
           <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
           <input type="text" class="form-control" name="dpmt" placeholder="Department" id="dpmt" required  placeholder="Enter your Password"/>
          </div>
         </div>
        </div>

        <div class="form-group">
          <label for="address" class="cols-sm-2 control-label">Address</label>
          <div class="cols-sm-10">
           <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="address" placeholder="Department" id="address" required  placeholder="Enter your Address"/>
           </div>
          </div>
         </div>

        <div class="form-group">
          <label for="city" class="cols-sm-2 control-label">City</label>
          <div class="cols-sm-10">
           <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="city" id="city"  placeholder="Enter your City"/>
           </div>
          </div>
         </div>

        <div class="form-group">
          <label for="state" class="cols-sm-2 control-label">State</label>
          <div class="cols-sm-10">
           <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="state" id="state"  placeholder="Enter your State"/>
           </div>
          </div>
         </div>
        
        <div class="form-group">
          <label for="zip" class="cols-sm-2 control-label">Zip Code</label>
          <div class="cols-sm-10">
           <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="zip" id="zip"  placeholder="Enter your Zip Code"/>
           </div>
          </div>
         </div>
        
         <div class="form-group">
          <label for="phone" class="cols-sm-2 control-label">Phone Number</label>
          <div class="cols-sm-10">
           <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="phone" id="phone"  placeholder="Phone Number"/>
           </div>
          </div>
         </div>

        <div class="form-group">
          <label for="email" class="cols-sm-2 control-label">Email Address</label>
          <div class="cols-sm-10">
           <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="email" id="email"  placeholder="Enter your Email"/>
           </div>
          </div>
         </div>

        <div class="form-group">
          <label for="email" class="cols-sm-2 control-label">Choose an account type:</label>
          <div class="cols-sm-10">
           <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
            <select name="usertype" id="usertype">
              <option value="author">Author</option>
              <option value="reviewer">Reviewer</option>
            </select>
           </div>
          </div>
         </div>

        <div class="form-group">
          <label for="password" class="cols-sm-2 control-label">Password</label>
          <div class="cols-sm-10">
           <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
            <input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
           </div>
          </div>
         </div>

         <div class="form-group">
          <label for="confirmpass" class="cols-sm-2 control-label">Confirm Password</label>
          <div class="cols-sm-10">
           <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
            <input type="password" class="form-control" name="confirmpass" id="confirmpass"  placeholder="Confirm your Password"/>
           </div>
          </div>
         </div>
   
        <div class="form-group ">
         <div id="msg">{{ msg }}</div>
         <input type="submit" value="Register" class="form-control btn btn-primary " name="">
         <p style="padding:5px;">
         <a href="{{ url_for('login') }}" class="btn btn-dark ">Login</a></p>
         
        </div>
         
       </form>
    </div>

  </body>
</html>