<!doctype html>
<html lang="en">
  <head>
      <link rel="stylesheet" href="{{ url_for('static', filename= 'css/base.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <nav class="navbar navbar-expand-lg py-3 navbar-dark bg-dark shadow-sm">
  <div class="container">
    <a href="#" class="navbar-brand">
      <!-- Logo Image -->
      <img src="https://cdn4.vectorstock.com/i/1000x1000/44/43/stack-paper-icon-logo-stationery-stacked-vector-26674443.jpg" width="45" alt="" class="d-inline-block align-middle mr-2">
      <!-- Logo Text -->
      <span class="text-uppercase font-weight-bold">CPMS</span>
    </a>

    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a href="/welcome" class="nav-link">Home </a></li>
        <li class="nav-item"><a href="/uploadreview" class="nav-link">Account</a></li>
        <li class="nav-item"><a href="/reviewreg" class="nav-link">Reviewer Registraion</a></li>
        <li class="nav-item"><a href="/reviewpaper" class="nav-link">Review Paper</a></li>
      </ul>
    </div>
  </div>
</nav>
  <body>
    <div class="center">
      <h1>Reviewer Registration</h1>
      <form> 
        <div class="form">
            <label>Please Select Topics of Interest From The Options Below:</label>
            <select id="myform" name='category' multiple class="form-control">
                <option>Analysis of Algorithms</option>
                <option>Applications, Architecture</option>
                <option>Artificial Intelligence</option>
                <option>Computer Engineering</option>
                <option>Curriculum</option>
                <option>Data Structures</option>
                <option>Databases</option>
                <option>Distanced Learning</option>
                <option>Distributed Systems</option>
                <option>Ethical Societal Systems</option>
                <option>First Year Computing</option>
                <option>Gender Issues</option>
                <option>Grant Writing</option>
                <option>Graphics Image Processing</option>
                <option>Human Computer Interaction</option>
                <option>Laboratory Environments</option>
                <option>Literacy</option>
                <option>Mathematics In Computing</option>
                <option>Multimedia</option>
                <option>Networking Data Communications</option>
                <option>Non Major Courses</option>
                <option>Object Oriented Issues</option>
                <option>Operating Systems</option>
                <option>Parallel Processing</option>
                <option>Pedagogy</option>
                <option>Programming Languages</option>
                <option>Research</option>
                <option>Security</option>
                <option>Software Engineering</option>
                <option>Systems Analysis And Design</option>
                <option>Using Technology In The Classroom</option>
                <option>Web And Internet Programming</option>
            </select>
            <label>Note: Hold the ctrl key while selecting topics to pick multiple.</label>
        </div>
        <input type="submit" value="Register" class="form-control btn btn-success " name="">
    </form> 
    </div>
  </body>


</html>