<!doctype html>
<html lang="en">
  <head>
      <link rel="stylesheet" href="{{ url_for('static', filename= 'css/base.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <nav class="navbar navbar-expand-lg py-3 navbar-dark bg-dark shadow-sm">
  <div class="container">
    <a href="#" class="navbar-brand">
      <!-- Logo Image -->
      <img src="https://cdn4.vectorstock.com/i/1000x1000/44/43/stack-paper-icon-logo-stationery-stacked-vector-26674443.jpg" width="45" alt="" class="d-inline-block align-middle mr-2">
      <!-- Logo Text -->
      <span class="text-uppercase font-weight-bold">CPMS</span>
    </a>

    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a href="/welcome" class="nav-link">Home </a></li>
        <li class="nav-item"><a href="/uploadreview" class="nav-link">Account</a></li>
        <li class="nav-item"><a href="/reviewreg" class="nav-link">Reviewer Registraion</a></li>
        <li class="nav-item"><a href="/reviewpaper" class="nav-link">Review Paper</a></li>
      </ul>
    </div>
  </div>
</nav>
  <body>
    <h1>Review Paper</h1>
    <form action="{{ url_for('distribute') }}" method="post" autocomplete="off"> 
        <div class="form-group">
            <label for="affiliation" class="cols-sm-2 control-label">Paper ID</label>
            <div class="cols-sm-10">
             <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="title" id="paperid" placeholder="Enter The Paper ID" required>
             </div>
            </div>
           </div>

        <div class = 'form-group'></div>
        <label>Appropriateness of topic:</label>
        <select id="ReviewID" name='topic'>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=2>3</option>
            <option value=4>4</option>
        </select>

        <form action="{{ url_for('distribute') }}" method="post" autocomplete="off"> 
            <div class = 'form-group'></div>
            <label>Appropriateness of topic:</label>
            <select id="Appropriateness" name='topic'>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=2>3</option>
                <option value=4>4</option>
            </select>

        <form action="{{ url_for('distribute') }}" method="post" autocomplete="off"> 
            <div class = 'form-group'></div>
            <label>Timeliness Of Topic:</label>
            <select id="Timeliness" name='topic'>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=2>3</option>
                <option value=4>4</option>
            </select>

        <form action="{{ url_for('distribute') }}" method="post" autocomplete="off"> 
            <div class = 'form-group'></div>
            <label>Supportive Evidence:</label>
            <select id="Supportive" name='topic'>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=2>3</option>
                <option value=4>4</option>
            </select>
        
        <form action="{{ url_for('distribute') }}" method="post" autocomplete="off"> 
            <div class = 'form-group'></div>
            <label>Technical Quality,:</label>
            <select id="technicalquality" name='topic'>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=2>3</option>
                <option value=4>4</option>
            </select>
        
        <form action="{{ url_for('distribute') }}" method="post" autocomplete="off"> 
            <div class = 'form-group'></div>
            <label>Scope Of Coverage:</label>
            <select id="Scope" name='topic'>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=2>3</option>
                <option value=4>4</option>
            </select>

        <form action="{{ url_for('distribute') }}" method="post" autocomplete="off"> 
            <div class = 'form-group'></div>
            <label>Citation Of Previous Work:</label>
            <select id="Citations" name='topic'>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=2>3</option>
                <option value=4>4</option>
            </select>

        <form action="{{ url_for('distribute') }}" method="post" autocomplete="off"> 
            <div class = 'form-group'></div>
            <label>Originality:</label>
            <select id="Originality" name='topic'>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=2>3</option>
                <option value=4>4</option>
            </select>

        <form action="{{ url_for('distribute') }}" method="post" autocomplete="off"> 
            <div class = 'form-group'></div>
            <label>Organization Of Paper:</label>
            <select id="Organization" name='topic'>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=2>3</option>
                <option value=4>4</option>
            </select>

        <form action="{{ url_for('distribute') }}" method="post" autocomplete="off"> 
            <div class = 'form-group'></div>
            <label>Appropriateness of topic:</label>
            <select id="ReviewID" name='topic'>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=2>3</option>
                <option value=4>4</option>
            </select>

        <form action="{{ url_for('distribute') }}" method="post" autocomplete="off"> 
            <div class = 'form-group'></div>
            <label>Clarity Of Main Message:</label>
            <select id="Clarity" name='topic'>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=2>3</option>
                <option value=4>4</option>
            </select>

        <form action="{{ url_for('distribute') }}" method="post" autocomplete="off"> 
            <div class = 'form-group'></div>
            <label>Mechanics:</label>
            <select id="Mechanics" name='topic'>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=2>3</option>
                <option value=4>4</option>
            </select>

        <form action="{{ url_for('distribute') }}" method="post" autocomplete="off"> 
            <div class = 'form-group'></div>
            <label>Appropriateness of topic:</label>
            <select id="ReviewID" name='topic'>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=2>3</option>
                <option value=4>4</option>
            </select>

        <form action="{{ url_for('distribute') }}" method="post" autocomplete="off"> 
            <div class = 'form-group'></div>
            <label>Suitability For Presentation:</label>
            <select id="Suitability" name='topic'>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=2>3</option>
                <option value=4>4</option>
            </select>

        <form action="{{ url_for('distribute') }}" method="post" autocomplete="off"> 
            <div class = 'form-group'></div>
            <label>Potential Interest In Topic:</label>
            <select id="PotentialInterest" name='topic'>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=2>3</option>
                <option value=4>4</option>
            </select>
    
        <form action="{{ url_for('distribute') }}" method="post" autocomplete="off"> 
            <div class = 'form-group'></div>
            <label>Comfort Level Topic:</label>
            <select id="ComfortLevel" name='topic'>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=2>3</option>
                <option value=4>4</option>
            </select>

        <form action="{{ url_for('distribute') }}" method="post" autocomplete="off"> 
            <div class = 'form-group'></div>
            <label>Comfort Level Acceptability:</label>
            <select id="ComfortLevelAccept" name='topic'>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=2>3</option>
                <option value=4>4</option>
            </select>


        <input type="submit" value="Upload Review" class="form-control btn btn-success " name="">
         
       </form>
  </body>


</html>